# Build outputs
bin/
obj/
*.dll
*.exe
*.pdb

# User-specific files
*.user
*.rsuser

# Visual Studio
.vs/
.vscode/

# .NET Core
*.launchsettings.json

# Entity Framework
Migrations/**/*.cs
!Migrations/**/Migrations/**/*.cs

# Data & Seed
wwwroot/Data/Seed/*.xlsx
wwwroot/Data/Mappings.json

# Logs & Temp
# logs/
*.log

# Images (optional)
wwwroot/images/assets/*
!wwwroot/images/assets/.gitkeep

# Secret files
appsettings.Development.json
appsettings.json

# Other
*.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

.git
.idea

.doc
.docx
.xls
.xlsx
.rar
.zip
*.doc
*.docx
*.xls
*.xlsx
*.rar
*.zip
temp files
temp files/*